<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.aio">
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.HARDWARE_CONTROLS" />
    <uses-permission android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:configChanges="orientation"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.ListagemActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.CriarContaActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="p538r.app.goo.gl/HRJN" android:scheme="http"/>
                <data android:host="p538r.app.goo.gl/HRJN" android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ConviteActivity" />
        <activity android:name=".activity.NaoTenhoConviteActivity" />
        <activity android:name=".activity.ProfissionalActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".activity.MeusPedidosActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.ConfiguracoesActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.RelateProblemaActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.IndiqueCashBackActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.ExtratoSaqueActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.SaqueActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.ConfirmarSaqueActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.SolicitacaoSaqueConfirmadaActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.MeuPerfilActivity"
            android:theme="@style/AppTheme"
            android:noHistory="true"
            android:excludeFromRecents="true">
        </activity>
        <activity android:name=".activity.SolicitarPedidoActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.MapsActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.CadastroServicoActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.CadastroProfissionalActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.CadastroDocumentosActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity android:name=".activity.CadastroAbrangenciaActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity android:name=".activity.TermosActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity android:name=".activity.EsqueciMinhaSenhaActivity"
            android:theme="@style/AppTheme" >
        </activity>

        <activity android:name=".activity.IniciarAtendimentoActivity"
            android:theme="@style/AppTheme" >
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBcU9bk64c7cOig4us1WMlO_o_k7Ococ6o" />

        <service
            android:name=".listener.FetchAddressIntentService"
            android:exported="false" />
        <provider
            android:name=".provider.GenericFileProvider"
            android:authorities="${applicationId}.br.com.aio.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".activity.AceitarServicoFirebaseActivity"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask"
            android:excludeFromRecents="true" >
            <intent-filter>
                <action android:name="@string/key_open_activity_aceitar_servico" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".service.AdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/admin"/>

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>
        <service android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".firebase.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notifications_active" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>